*{  
    padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
    background-color: rgb(177, 125, 72)
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 10px;
	padding-right: 10px;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: purple;
	transition: .4s;
}
.btn{
	background-color: purple;
	color: rgb(1, 1, 1);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: black;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: black;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: red;
	letter-spacing: 2px;
	font-size: 20px;
}
.about{
	width: 100%;
	padding: 100px;
	background-color: brown;
}
.about-text{
	width: 400px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: black;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: black;
	letter-spacing: 2px;
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.about-text p{
	color: black;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#f9004d;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 20px;
	border-radius: 30px;
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.work h2{
    font-weight: bold;
    color: black;
    margin-top: 80px;
}
.work .wcontent{
    color: black;
}
.work .responsibilitiesle{
    color: black;
}
.footer-section {
    height: 950px;
    background: rgb(177, 125, 72);
    text-align: center;
}

.footer h3 {
    margin: 10px;
    padding:10px;
    font-weight: 400;
    font-size: 48px;
    color: black;
}

.footer p {
    width: 500px;
    height: 86px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: 18px 450px;
    color: rebeccapurple;
}
.footer .copyright{
    color:rebeccapurple;
    margin-left: 20px;
}
